{% extends 'package/index.html' %}

{% block title %}Добавить новую запись{% endblock %}

{% block content %}
    <h1>Создать новую запись</h1>
    <h2>{{ error }}</h2>
    <form method="POST">
        {% csrf_token %}
        <h4>Хочу выучить</h4>
        Добавьте название библиотеки, которую планируете выучить.
        <br>{{ NewPackage.title }}<br><br>
        <h4>Описание</h4>
        Решите для себя зачем вам нужна эта библиотека. Что из этой библиотеки вы хотите выучить в первую очередь.
        Сколько времени на это вы себе даете.
        <br>А вообще, пишите в это поле все что пожелаете.
        <br><br>(Поле необязательное для заполнения)
        <br> {{ NewPackage.description }}<br><br>
        <h4>Ссылка на документацию</h4>
        Добавьте ссылку на официальную документацию, или на любой другой источник, который вы используете для обучения.
        <br><br>(Поле необязательное для заполнения)
        <br> {{ NewPackage.url }}<br><br>
        <button type="submit" class="btn btn-success">Создать</button>
    </form>
{% endblock %}
